---
import { Image } from "astro:assets";
interface Props {
  title: string;
  bodytext?: string;
  image?: string;
}

const { title, bodytext = "default propf", image } = Astro.props;
---

<div class="mt-10 mb-10">
  <p>{title}</p>

  {
    image && (
      <Image src={image} alt="" width="1600" height="900" loading="eager" />
    )
  }

  {bodytext && <p>{bodytext}</p>}
</div>
