---
import { Image } from "astro:assets";
interface Props {
  title: string;
  bodytext?: string;
  image?: string;
}

const { title, bodytext = "default propf", image } = Astro.props;
---

<!-- Use props and other variables from the component script: -->
<p>{title}</p>

{
  image && (
    <Image src={image} alt="" width="1600" height="900" loading="eager" />
  )
}

{bodytext && <p>{bodytext}</p>}
