---
const nav = [
  { path: "/", title: "Home" },
  { path: "/about", title: "About (json data here)" },
  { path: "/contact", title: "Contact" },
];
---

<header class="m-10">
  <nav>
    <ul>
      {
        nav.map((data) => (
          <li>
            <a href={data.path}>{data.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
