---
const nav = [
  { path: "/", title: "Home (vue component)" },
  { path: "/about", title: "About (json data)" },
  { path: "/contact", title: "Contact (external data)" },
];
---

<header class="mb-10 bg-slate-700 text-white">
  <nav>
    <ul>
      {
        nav.map((data) => (
          <li class="inline-block ml-5 mr-5">
            <a href={data.path}>{data.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
